In [7]:
#import pandas
import pandas as pd

Ordinal Encoding(Label Encoding)

In [8]:
import category_encoders as ce #import the library for encoding categorical variables into numeric

In [9]:
#read the dataset
df1=pd.read_csv('healthy_lifestyle_city_2021.csv')

In [10]:
#head values(1st 5)
df1.head()

         City  ... Cost of a monthly gym membership(City)
0   Amsterdam  ...                                 £34.90
1      Sydney  ...                                 £41.66
2      Vienna  ...                                 £25.74
3   Stockholm  ...                                 £37.31
4  Copenhagen  ...                                 £32.53

[5 rows x 11 columns]

In [11]:
# creating the object of the OrdinalEncoding
OE = ce.OrdinalEncoder(cols=['City'])# fit and transform to get the encoded data
df1['Transformed_City_OE']=OE.fit_transform(df1['City'])

In [12]:
#after transforming....
df1.head(20)

          City  ... Transformed_City_OE
0    Amsterdam  ...                   1
1       Sydney  ...                   2
2       Vienna  ...                   3
3    Stockholm  ...                   4
4   Copenhagen  ...                   5
5     Helsinki  ...                   6
6      Fukuoka  ...                   7
7       Berlin  ...                   8
8    Barcelona  ...                   9
9    Vancouver  ...                  10
10   Melbourne  ...                  11
11     Beijing  ...                  12
12      Berlin  ...                   8
13   Barcelona  ...                   9
14   Vancouver  ...                  10
15   Melbourne  ...                  11
16      Berlin  ...                   8
17   Barcelona  ...                   9
18   Frankfurt  ...                  13
19      Geneva  ...                  14

[20 rows x 12 columns]

One Hot encoding

In [13]:
# create an object of the OneHotEncoder
OHE = ce.OneHotEncoder(cols=['City'])# fit and transform to get the encoded data
df2=OHE.fit_transform(df1['City'])

In [14]:
#after transforming
df3=pd.concat([df1, df2], axis=1)
df4=df3.drop('Transformed_City_OE',axis=1)
df4.head(20)

          City Sunshine hours(City)  ... City_37 City_38
0    Amsterdam                 1858  ...       0       0
1       Sydney                 2636  ...       0       0
2       Vienna                 1884  ...       0       0
3    Stockholm                 1821  ...       0       0
4   Copenhagen                 1630  ...       0       0
5     Helsinki                 1662  ...       0       0
6      Fukuoka                 2769  ...       0       0
7       Berlin                 1626  ...       0       0
8    Barcelona                 2591  ...       0       0
9    Vancouver                 1938  ...       0       0
10   Melbourne                 2363  ...       0       0
11     Beijing                 2671  ...       0       0
12      Berlin                 2624  ...       0       0
13   Barcelona                 2525  ...       0       0
14   Vancouver                 2066  ...       0       0
15   Melbourne                 2769  ...       0       0
16      Berlin                 2983  ...       0       0
17   Barcelona                 2066  ...       0       0
18   Frankfurt                 1662  ...       0       0
19      Geneva                    -  ...       0       0

[20 rows x 49 columns]

Binary encoding

In [15]:
# 1)categorical to numeric(using ordinal encoder) 2)numberic to binary 3)binary value is split into different columns
# create an object of the BinaryEncoder
BE = ce.BinaryEncoder(cols=['City'])# fit and transform to get the encoded data
df5=BE.fit_transform(df1['City'])

In [16]:
#after transforming
df6=pd.concat([df1, df2], axis=1)
df7=df6.drop('Transformed_City_OE',axis=1)
df7.head(20)

          City Sunshine hours(City)  ... City_37 City_38
0    Amsterdam                 1858  ...       0       0
1       Sydney                 2636  ...       0       0
2       Vienna                 1884  ...       0       0
3    Stockholm                 1821  ...       0       0
4   Copenhagen                 1630  ...       0       0
5     Helsinki                 1662  ...       0       0
6      Fukuoka                 2769  ...       0       0
7       Berlin                 1626  ...       0       0
8    Barcelona                 2591  ...       0       0
9    Vancouver                 1938  ...       0       0
10   Melbourne                 2363  ...       0       0
11     Beijing                 2671  ...       0       0
12      Berlin                 2624  ...       0       0
13   Barcelona                 2525  ...       0       0
14   Vancouver                 2066  ...       0       0
15   Melbourne                 2769  ...       0       0
16      Berlin                 2983  ...       0       0
17   Barcelona                 2066  ...       0       0
18   Frankfurt                 1662  ...       0       0
19      Geneva                    -  ...       0       0

[20 rows x 49 columns]

BaseN encoding

In [17]:
# create an object of the BaseNEncoder
BN = ce.BaseNEncoder(cols=['City'],base=3)# fit and transform to get the encoded data #in base 3
df8=BN.fit_transform(df1['City'])

In [18]:
#after transforming
df9=pd.concat([df1, df8], axis=1)
df10=df9.drop('Transformed_City_OE',axis=1)
df10.head(20)

          City Sunshine hours(City)  ... City_2 City_3
0    Amsterdam                 1858  ...      0      1
1       Sydney                 2636  ...      0      2
2       Vienna                 1884  ...      1      0
3    Stockholm                 1821  ...      1      1
4   Copenhagen                 1630  ...      1      2
5     Helsinki                 1662  ...      2      0
6      Fukuoka                 2769  ...      2      1
7       Berlin                 1626  ...      2      2
8    Barcelona                 2591  ...      0      0
9    Vancouver                 1938  ...      0      1
10   Melbourne                 2363  ...      0      2
11     Beijing                 2671  ...      1      0
12      Berlin                 2624  ...      2      2
13   Barcelona                 2525  ...      0      0
14   Vancouver                 2066  ...      0      1
15   Melbourne                 2769  ...      0      2
16      Berlin                 2983  ...      2      2
17   Barcelona                 2066  ...      0      0
18   Frankfurt                 1662  ...      1      1
19      Geneva                    -  ...      1      2

[20 rows x 15 columns]

Hashing

In [19]:
# create an object of the Hashing Encoder
HE = ce.HashingEncoder(cols=['City'],n_components=8)# fit and transform to get the encoded data #8 bins..
df11=HE.fit_transform(df1['City'])

In [20]:
#after transforming
df12=pd.concat([df1, df11], axis=1)
df13=df12.drop('Transformed_City_OE',axis=1)
df13.head(20)

          City Sunshine hours(City)  ... col_6 col_7
0    Amsterdam                 1858  ...     0     0
1       Sydney                 2636  ...     0     0
2       Vienna                 1884  ...     0     0
3    Stockholm                 1821  ...     0     0
4   Copenhagen                 1630  ...     0     0
5     Helsinki                 1662  ...     0     0
6      Fukuoka                 2769  ...     0     0
7       Berlin                 1626  ...     0     0
8    Barcelona                 2591  ...     0     1
9    Vancouver                 1938  ...     0     0
10   Melbourne                 2363  ...     0     0
11     Beijing                 2671  ...     0     0
12      Berlin                 2624  ...     0     0
13   Barcelona                 2525  ...     0     1
14   Vancouver                 2066  ...     0     0
15   Melbourne                 2769  ...     0     0
16      Berlin                 2983  ...     0     0
17   Barcelona                 2066  ...     0     1
18   Frankfurt                 1662  ...     0     0
19      Geneva                    -  ...     1     0

[20 rows x 19 columns]